ion-menu {
    --background: #990000; // Rojo oscuro para el fondo del menú
  }
  
  ion-toolbar {
    --background: #ff0000; // Rojo para el fondo del toolbar
    --color: #ffffff; // Blanco para el texto
  }
  
  ion-item {
    --color: #ffffff; // Blanco para el texto de los elementos del menú
  }
  